*{
    margin: 0;
    padding: 0%;
    background-image: url("img/Copia\ de\ Copia\ de\ lunch\ Menu\ \(45\ x\ 32\ cm\)\ \(Presentación\)\ \(1\).png");
}

header{
    width: 100%;
    height: 150px;
    opacity: 100%;
    box-shadow: 15px 15px 15px 15px gray;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.logo{
    background-color: rgb(165, 158, 91);
    width: 30px;
    height: 30px;
}

.textotitulo{
color: black;
font-size: xx-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 5px;
text-shadow: 2px 2px 2px gray;
margin-top: 40px;

}

.button{
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

.ingreso{
    color: gray;
    font-size: 20px;
    border: 1px solid gray;
    padding:10px;
    text-decoration: none;
}

.ingreso:hover{
    color: rgb(0, 0, 0);
    background-color: gray;
    font-size: 20px;
    border: 1px solid gray;
    padding:10px;
}

.prueba{
    width: 100%;
    height: 80px;
    
}

.prueba:hover{
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 80px;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    color: gray;
    font-size: 30px;
}

nav a:hover{
    text-decoration: none;
    color: black;
    font-size: 30px;
    background-color: gray;
} 
.principal{
    width: 100%;
    height: 600;

}
footer{
background-color:beige;
width: 100%;
height: 50px;
display: flex;
justify-content: space-around;

}